In [1]:
import pandas as pd
df1 = pd.read_csv('CMS_PIX28_100.csv',header=None)
import numpy as np
headerNumbers = np.arange(0,415,1,dtype=int)

In [2]:
df1.to_csv('data1.csv', header=headerNumbers,index=False)
df2 = pd.read_csv('data1.csv')
df3 = df2.drop(columns=['0','1','2','3','4','5','6','7','8','414','413','412','411','410','409','408','407','406','405','404','403','402','401',
                        '400','399','398','397','396','395','394'])
df3

,9,10,11,12,13,14,15,16,17,18,...,384,385,386,387,388,389,390,391,392,393
0,7,255,255,255,159,249,255,159,255,255,...,249,255,158,121,255,255,255,255,158,120
1,7,255,255,255,159,249,255,159,255,255,...,249,231,158,121,255,222,121,255,222,120
2,7,255,255,255,159,249,255,159,255,255,...,249,231,158,121,255,158,127,255,254,120
3,7,255,255,255,159,255,255,159,255,255,...,249,231,158,121,255,255,249,255,254,120
4,7,255,255,255,159,249,255,159,255,255,...,249,231,158,121,255,255,249,255,254,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,7,255,255,255,159,255,255,159,255,255,...,121,255,158,121,255,255,255,255,254,120
96,7,255,255,255,159,249,255,159,255,255,...,249,231,158,121,255,254,121,255,254,120
97,7,255,249,255,159,249,255,159,255,255,...,249,255,158,121,255,254,127,255,254,120
98,7,255,255,255,159,249,255,159,255,255,...,249,255,158,121,255,254,121,255,158,120
99,7,255,255,255,159,249,255,159,255,255,...,249,231,158,127,255,255,255,255,158,120

In [3]:
def binIt(x):
    return bin(x).replace("0b", "") 
df_Binary = df3.applymap(binIt)
df_Binary.to_csv('100_converted.csv', index=False)

In [4]:
readBinary =pd.read_csv('100_converted.csv')
readBinary

,9,10,11,12,13,14,15,16,17,18,...,384,385,386,387,388,389,390,391,392,393
0,111,11111111,11111111,11111111,10011111,11111001,11111111,10011111,11111111,11111111,...,11111001,11111111,10011110,1111001,11111111,11111111,11111111,11111111,10011110,1111000
1,111,11111111,11111111,11111111,10011111,11111001,11111111,10011111,11111111,11111111,...,11111001,11100111,10011110,1111001,11111111,11011110,1111001,11111111,11011110,1111000
2,111,11111111,11111111,11111111,10011111,11111001,11111111,10011111,11111111,11111111,...,11111001,11100111,10011110,1111001,11111111,10011110,1111111,11111111,11111110,1111000
3,111,11111111,11111111,11111111,10011111,11111111,11111111,10011111,11111111,11111111,...,11111001,11100111,10011110,1111001,11111111,11111111,11111001,11111111,11111110,1111000
4,111,11111111,11111111,11111111,10011111,11111001,11111111,10011111,11111111,11111111,...,11111001,11100111,10011110,1111001,11111111,11111111,11111001,11111111,11111110,1111000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,111,11111111,11111111,11111111,10011111,11111111,11111111,10011111,11111111,11111111,...,1111001,11111111,10011110,1111001,11111111,11111111,11111111,11111111,11111110,1111000
96,111,11111111,11111111,11111111,10011111,11111001,11111111,10011111,11111111,11111111,...,11111001,11100111,10011110,1111001,11111111,11111110,1111001,11111111,11111110,1111000
97,111,11111111,11111001,11111111,10011111,11111001,11111111,10011111,11111111,11111111,...,11111001,11111111,10011110,1111001,11111111,11111110,1111111,11111111,11111110,1111000
98,111,11111111,11111111,11111111,10011111,11111001,11111111,10011111,11111111,11111111,...,11111001,11111111,10011110,1111001,11111111,11111110,1111001,11111111,10011110,1111000
99,111,11111111,11111111,11111111,10011111,11111001,11111111,10011111,11111111,11111111,...,11111001,11100111,10011110,1111111,11111111,11111111,11111111,11111111,10011110,1111000